
- if @feature.errors.any?
  %ul
    - @feature.errors.full_messages.each do |message|
      %li= message


= simple_form_for [:admin, @feature] do |f|

  = f.input :title
  = f.input :status, as: :radio_buttons
  = f.input :content

  = f.button :submit

