
%h1 特集記事一覧

= link_to '新規特集記事', new_admin_feature_path, class: 'button tiny'

%table
  %thead
    %tr
      %th タイトル
      %th 公開状態
      %th 編集
  %tbody
    - @features.each do |feature|
      %tr
        %td
          = link_to feature.title, edit_admin_feature_path(feature)
        %td
          = feature.status.text
        %td
          = link_to '編集', edit_admin_feature_path(feature), class: 'button tiny'
          = link_to '削除', admin_feature_path(feature), class: 'button tiny', method: :delete, confirm: '本当に削除しますか？'

= paginate @features

