
- if @event.errors.any?
  %ul
    - @event.errors.full_messages.each do |message|
      %li= message


= simple_form_for [:admin, @event] do |f|

  = f.simple_fields_for :thumbnail do |e|
    - if e.object.id.present?
      = image_tag e.object.asset.url(:thumbnail)
      = e.input :_destroy, label: '削除', as: :boolean
    - else
      = e.input :asset, as: :file, label: 'サムネイル'

  = f.input :title
  = f.input :status, as: :radio_buttons
  = f.input :content

  = f.association :prefecture
  = f.association :area
  = f.input :location

  = f.input :tag_list, as: :check_boxes, collection: Tag.all, value_method: :name

  = f.simple_fields_for :event_dates do |e|
    - this_year = Time.now.year

    %label 開催期間

    - if e.object.id.present?
      = e.input :_destroy, label: '削除', as: :boolean

    .form-duration-inline
      = e.input :begin_at, minute_step: 10, include_blank: true, use_month_numbers: true, start_year: this_year
    .form-duration-inline
      = e.input :end_at, minute_step: 10, include_blank: true, use_month_numbers: true, start_year: this_year


  = f.button :submit

