
%h1 イベント一覧

= link_to '新規イベント', new_admin_event_path, class: 'button tiny'

%table
  %thead
    %tr
      %th タイトル
      %th クリエータ
      %th 公開状態
      %th 編集
  %tbody
    - @events.each do |event|
      %tr
        %td
          = link_to event.title, edit_admin_event_path(event)
        %td
          = event.creator.name
        %td
          = event.status.text
        %td
          = link_to '編集', edit_admin_event_path(event), class: 'button tiny'
          = link_to '削除', admin_event_path(event), class: 'button tiny', method: :delete, confirm: '本当に削除しますか？'

= paginate @events

