
.fixed
  %nav.top-bar(data-topbar)
    %ul.title-area
      %li.name
        %h1= link_to 'Marcierge Admin', admin_root_path

    - if admin_user_signed_in?
      %section.top-bar-section
        %ul.left
          %li.divider
          %li.has-dropdown{ class: controller_name == 'events' && 'active' }
            = link_to 'イベント', admin_events_path

            %ul.dropdown
              %li= link_to '新規イベント', new_admin_event_path

          %li.divider
          %li.has-dropdown{ class: controller_name == 'creators' && 'active' }
            = link_to 'クリエータ', admin_creators_path

            %ul.dropdown
              %li= link_to 'クリエータの登録', new_admin_creator_path

          %li.divider
          %li.has-dropdown{ class: controller_name == 'users' && 'active' }
            = link_to 'ユーザ', admin_users_path

            %ul.dropdown
              %li= link_to '新規ユーザ', new_admin_user_path

          %li.divider
          %li.has-dropdown{ class: controller_name == 'admin_users' && 'active' }
            = link_to '管理者', admin_admin_users_path

            %ul.dropdown
              %li= link_to '管理者の登録', new_admin_admin_user_path

          %li.divider
          %li.has-dropdown{ class: controller_name == 'information' && 'active' }
            = link_to 'お知らせ', admin_information_index_path

            %ul.dropdown
              %li= link_to '新規お知らせ', new_admin_information_path

          %li.divider
          %li.has-dropdown{ class: controller_name == 'features' && 'active' }
            = link_to '特集記事', admin_features_path

            %ul.dropdown
              %li= link_to '新規特集記事', new_admin_feature_path

          %li.divider

        %ul.right
          %li.divider
          %li.has-dropdown
            %a
              = image_tag current_admin_user.avatar_url(22), size: '22x22'
              &nbsp;
              = current_admin_user.name

            %ul.dropdown
              %li= link_to 'ログアウト', destroy_admin_user_session_path

