
- content_for :overlay do
  = image_tag 'https://dl.dropboxusercontent.com/s/7ie6mdjjwiyk1p9/toppage_slice_02.jpg?dl=1&token_hash=AAG8wXrcCO1PlM6VY3xdiePdrqebVu0zaEJtxEkRP_bIJg'

#near_event

  .title
    %h2= image_tag 'views/pages/home/h_near_event.png', size: '236×68', alt: 'もうすぐ開催のイベント'

  .body

    %ul.carrousel
      %li= image_tag 'http://placehold.it/610x310.png'
      %li= image_tag 'http://placehold.it/610x310.png'
      %li= image_tag 'http://placehold.it/610x310.png'
      %li= image_tag 'http://placehold.it/610x310.png'
      %li= image_tag 'http://placehold.it/610x310.png'

    =link_to 'next', '#'
    =link_to 'prev', '#'


#pickup.box

  .title.has-more
    %h2 ピックアップイベント
    .more
      = image_tag 'http://placehold.it/190x30.png', alt: 'more'

  .body

    .row
      .entry
        = image_tag 'http://placehold.it/190x151.png'
        %p.entry_title 旅するもみじ市 in 京都
        %p.entry_desc イラストレーター、陶芸家、料理家、カフェなど、「カラフル」というテーマのもとに集まり青空の下 、マーケットを開催します。
        %p.entry_date 2013/12/13 - 14
        %ul.tag
          %li 買う
          %li 知る・まなぶ

      .entry
        = image_tag 'http://placehold.it/190x151.png'
        %p.entry_title パンフェス at 調布PARCO
        %p.entry_desc パンとパンにまつわる雑貨や古本が並ぶ、何から何までパンづくしのイベントです。
        %p.entry_date 2013/12/13 - 14
        %ul.tag
          %li 知る・まなぶ
          %li 遊ぶ

      .entry
        = image_tag 'http://placehold.it/190x151.png'
        %p.entry_title Scandinavian Life Style Shop
        %p.entry_dec 「北欧の日常」をテーマに色々なジャンルの「北欧」にまつわるお店が参加。Vintageアイテムもお店に並びます。
        %p.entry_date 2013/12/13 - 14
        %ul.tag
          %li 買う


#feature

  .title.has-more
    %h2 特集
    .more
      = image_tag 'http://placehold.it/190x30.png', alt: 'more'

  .body

    .row
      .entry
        = image_tag 'http://placehold.it/190x151.png'
        %p.entry_title 旅するもみじ市 in 京都
        %p.entry_desc テキストが入りますテキストが入ります


#atoz

  .body
    = image_tag 'http://placehold.it/280x44.png', alt: 'ショップ・クリエイターをチェック'