
- if @admin.errors.any?
  %ul
    - @admin.errors.full_messages.each do |message|
      %li= message


= simple_form_for [:admin, @admin] do |f|

  %p= image_tag @admin.avatar_url, size: '48x48'

  = f.input :name
  = f.input :email
  = f.input :password
  = f.input :password_confirmation

  = f.button :submit

