
- if @user.errors.any?
  %ul
    - @user.errors.full_messages.each do |message|
      %li= message


= simple_form_for [:admin, @user] do |f|

  - if @user.creator.present?
    %p= link_to @user.creator.name, edit_admin_creator_path(@user.creator)

  = f.input :email
  = f.input :password
  = f.input :password_confirmation

  = f.button :submit, class: 'btn btn-primary'

