%footer#footer

  .container

    .pagetop
      = link_to image_tag('components/footer/btn_pagetop.png', size: '233×186', alt: 'topに戻る'), '#'

    .link

      %ul.event
        %li= link_to 'イベントを探す', '#'
        %li= link_to '23区西エリアのイベント', '#'
        %li= link_to '23区東エリアのイベント', '#'
        %li= link_to '多摩エリアのイベント', '#'
        %li= link_to 'その他のエリアのイベント', '#'

      %ul.sitemap
        %li= link_to '特集・おすすめ', '#'
        %li= link_to 'AtoZ Shop & Creator File', '#'
        %li= link_to 'Blog', '#'
        %li= link_to 'マルシェルジュとは?', '#'
        %li= link_to 'お問い合わせ', '#'

  .copyright
    %p &copy; Marcierge 2014. All Rights Reserved.
