
#ad
  =image_tag 'http://placehold.it/300x252.png', size: '300x252'


#pickup.feed

  .title
    %h2= image_tag 'components/side/h_event.png', size: '272×44', alt: '人気 &amp; 注目のイベント'

  .body

    %ul
      %li 1位
      %li 2位
      %li 3位


#blog.feed

  .title
    %h2= image_tag 'components/side/h_blog.png', size: '107×41', alt: 'ブログ'

  .body

    %ul
      %li
        =image_tag 'http://placehold.it/60x60.png', size: '60x60'
        %p.date 2013.12.10
        %p.title テキストが入りますテキストが入りますテキストが入ります。

      %li
        =image_tag 'http://placehold.it/60x60.png', size: '60x60'
        %p.date 2013.12.10
        %p.title テキストが入りますテキストが入りますテキストが入ります。

      %li
        =image_tag 'http://placehold.it/60x60.png', size: '60x60'
        %p.date 2013.12.10
        %p.title テキストが入りますテキストが入りますテキストが入ります。

  .more
    = image_tag 'components/side/btn_blog_more.png', size: '190x30', alt: '全てのBLOGを見る'


#news.feed

  .title
    %h2= image_tag 'components/side/h_news.png', size: '137×45', alt: 'ブログ'

  .body

    %ul
      %li
        %p.date 2013.12.10
        %p.txt 2月のイベントが追加されました！
      %li
        %p.date 2013.12.10
        %p.txt 2月のイベントが追加されました！
      %li
        %p.date 2013.12.10
        %p.txt 2月のイベントが追加されました！
      %li
        %p.date 2013.12.10
        %p.txt 2月のイベントが追加されました！

  .more
    = image_tag 'components/side/btn_news_more.png', size: '190x30', alt: '全てのニュースを見る'