
- if @creator.errors.any?
  %ul
    - @creator.errors.full_messages.each do |message|
      %li= message


= simple_form_for [:admin, @creator] do |f|

  - if @creator.avatar.present?
    %p= image_tag @creator.avatar.url, size: '48x48'

  = f.association :user, label_method: :email, value_method: :id
  = f.input :name
  = f.input :profile

  = f.button :submit, class: 'btn btn-primary'

