!!!
%html
  %head
    = display_meta_tags default_meta_tags
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'

    :coffee
      window.CONTROLLER_NAME = '#{controller_name}'
      window.ACTION_NAME = '#{action_name}'

    = javascript_include_tag 'application'
    = view_script_tag


  %body{ id: controller_name, class: action_name }

    = render 'header'

    #contents

      .container

        #main
          = yield

        #side
          = render 'side'


    = render 'footer'

